### Go ###
**.bin
**coverage.out
**vendor
**golangci.out
**.build
__debug_bin
go-covid-api

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### dependencies ###
node_modules/
.serverless/
**.DS_Store